@use "variables" as *;


// Estilo base reutilizable

%card-base {

    padding: $padding-card;
    border-radius: $border-radius;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);

}


%title-base {

    font-weight: bold;
    color: $color-dark;

}