@use "variables" as *;
@use "mixins" as *;


.card {

    @include card-style;

    background-color: $color-light;
    color: $color-dark;

}


.card-highlight {

    @include card-style;

    background-color: $color-primary;
    color: $color-light;

}


.button {

    @include button-style;

}