@use "variables";
@use "mixins";


.nav {

    @include mixins.flex-container {

        justify-content:space-between;
        align-items:center;

    }

}


.container {

    padding:variables.$spacing;

}


.botones {

    display:flex;
    gap:15px;

}


.btn-primary {

    @include mixins.boton(variables.$color-primary);

}


.btn-secondary {

    @include mixins.boton(
        variables.$color-secondary,
        20px
    );

}


.btn-danger {

    @include mixins.button-type("danger");

}