@use "variables" as *;

@mixin card-style {

    padding: $spacing;
    border-radius: $border-radius;
    box-shadow: $box-shadow;

}


@mixin button-style {

    padding: 10px 20px;
    border-radius: $border-radius;
    background-color: $color-primary;
    color: $color-light;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: $color-secondary;
    }

}