@use "variables" as *;


// Mixin para tarjetas

@mixin card-style {

    padding: $padding-card;
    border-radius: $border-radius;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);

}


// Mixin botón

@mixin button-style {

    padding: 10px 20px;
    border-radius: $border-radius;
    background-color: $color-primary;
    color: $color-light;
    border: none;
    cursor: pointer;

    &:hover {

        background-color: $color-secondary;

    }

}