// Colores principales
$color-primary: #3498db;
$color-secondary: #2ecc71;
$color-dark: #333;
$color-light: #ffffff;

// Bordes
$border-radius: 10px;

// Espaciados
$spacing: 20px;

// Sombras
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);